.loader {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: none;
    margin:15px auto;
    position: relative;
    background: #FFF;
    box-shadow: -24px 0 #FFF, 24px 0 #FFF;
    box-sizing: border-box;
    animation: shadowPulse 2s linear infinite;
  }

  @keyframes shadowPulse {
    33% {
      background: #FFF;
      box-shadow: -24px 0 #FFD700, 24px 0 #FFF;
    }
    66% {
      background: #FFD700;
      box-shadow: -24px 0 #FFF, 24px 0 #FFF;
    }
    100% {
      background: #FFF;
      box-shadow: -24px 0 #FFF, 24px 0 #FFD700;
    }
  }

.htmx-request .loader {
    display: block;
  }

  .htmx-request .r {
    display: none;
  }